%h1 Login

= form_tag login_create_path do

  = label :session, :user_id, 'User-ID'
  = text_field :session, 'user_id', :id => 'login_id'

  = label :session, :email, 'E-Mail'
  = text_field :session, 'email', :id => 'login_email'
  
  = submit_tag 'Login to my account', :id => 'login_submit'

= button_to 'Sign-up for an account', new_user_path, method: :get, :id => 'signup'
